body {
  --mainBgColour: snow;
  --primaryFont: 'Poppins', sans-serif;
  --defaultFont: 400;
  --boldFont: 800;

}

body {
  background-color: var(--mainBgColour);
  text-align: center;
}

header {
  font-family: var(--primaryFont);
  font-weight: var(--boldFont);
}

footer {
  
}