html {
  font-size: 125%;
}

:root {
  --mainBgColour:#cecece;
  --primaryAccent: #b1e5f2;
  --secondaryAccent: #272635;
  --primaryFont: 'Poppins', sans-serif;
  --defaultFont: 400;
  --boldFont: 800;
  --transitionDetail: .4s ease-in-out;
} 

.wrapper {
    max-width: 1600px;
    margin: 0 10%;
} 

body {
  background-color: var(--mainBgColour);
  color: var(--secondaryAccent);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

header {
  font-family: var(--primaryFont);
  font-weight: var(--boldFont);
  font-size: 1.25rem;
}

h1, 
label {
  margin:0;
}

h1 {
  padding: 5% 0;
}

/* form styling beings here */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10% 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

[type="text"] {
  max-width: 100%;
  letter-spacing: 2px;
}

[type="date"],
label,
#inputExerciseId,
button {
    font-family: var(--primaryFont);
    font-weight: var(--defaultFont);
    color: var(--secondaryAccent);
    height: 50px;
    border-radius: 10px;
    margin: 2% 0;
    text-align: center;
}

input::placeholder {
  color: var(--secondaryAccent);
}

button:hover {
  background: var(--primaryAccent);
}

button  {
  border: none;
  transition: var(--transitionDetail);
}
  
input[type="date"]:focus-within,
#inputExerciseId:focus-within,button:focus-within {
  background-color: var(--primaryAccent);
  transition: var(--transitionDetail);
}

/* display Workout */
h3,
ul {
  text-align: left;
  margin: 0;

}


footer  p{
  margin: 0;
  padding: 2%;
}   